.btn-scanner, .btn-phone{
    position: relative;
    width: 55px;
    height: 55px;
    border-radius: 12px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    z-index: 2 !important;
    cursor: pointer;
    transition: all 0.2s ease;
    -webkit-tap-highlight-color: transparent;
    border: 2px solid white !important;
}
.btn-phone  {
    background-color: #dc3545 !important; 
    color: white !important;
}
.btn-scanner  {
    background-color: #1b1b1b !important;
     color: #02ccff !important; 
 
}
.btn-scanner:active, .btn-phone:active{
    transform: scale(0.92); 
filter: brightness(1.2);
}
.btn-ui {
          position: absolute;
          bottom: 20px;
          right: 25px;
          display: flex;
          flex-direction: column-reverse;
          z-Index: 2 !important;
          gap: 15px;
          pointer-events: auto;
          width: auto;
          height: auto;
          
       
}
.btn-phone i, .btn-scanner i {
    font-size: 24px;
    background: transparent !important; 
    display: block;
}

.leaflet-tooltip{
    background-color: #1b1b1b !important;
  color: #ffffff !important;
  border: 1px solid #02ccff !important;
  border-radius: 8px !important;
  padding: 5px 10px !important;
  font-weight: bold;
  box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}

/* La freccetta sotto la vignetta */
.leaflet-tooltip-top:before {
  border-top-color:#1b1b1b !important;
}

.monument-tooltip-text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}